{# purpose of this template: comments delete confirmation view #}
{% extends routeArea == 'admin' ? 'MUCommentsModule::adminBase.html.twig' : 'MUCommentsModule::base.html.twig' %}
{% block title __('Delete comment') %}
{% block admin_page_icon 'trash-o' %}
{% block content %}
    <div class="mucommentsmodule-comment mucommentsmodule-delete">
        <p class="alert alert-warning">{{ __f('Do you really want to delete this comment: "%name%" ?', {'%name%': comment|mucommentsmodule_formattedTitle}) }}</p>

        {% form_theme deleteForm with [
            '@MUCommentsModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}

        {% if comment.supportsHookSubscribers and formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_widget(deleteForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(deleteForm) }}

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {% if comment.supportsHookSubscribers %}
        {% set hooks = notifyDisplayHooks(eventName='mucommentsmodule.ui_hooks.comments.form_delete', id=comment.getKey(), outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
