{# purpose of this template: comments list view #}
{% extends routeArea == 'admin' ? 'MUCommentsModule::adminBase.html.twig' : 'MUCommentsModule::base.html.twig' %}
{% block title own ? __('My comments') : __('Comments list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="mucommentsmodule-comment mucommentsmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUCommentsModule/Comment/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="commentsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActionsStart" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cSubject" />
                <col id="cName" />
                <col id="cYourMailAddress" />
                <col id="cText" />
                <col id="cSendMails" />
                <col id="cComment" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center z-w02">
                        <input type="checkbox" class="mucomments-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActionsStart" scope="col" class="z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hSubject" scope="col" class="text-left">
                    <a href="{{ sort.subject.url }}" title="{{ __f('Sort by %s', {'%s': 'subject'}) }}" class="{{ sort.subject.class }}">{{ __('Subject') }}</a>
                </th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hYourMailAddress" scope="col" class="text-center">
                    <a href="{{ sort.yourMailAddress.url }}" title="{{ __f('Sort by %s', {'%s': 'your mail address'}) }}" class="{{ sort.yourMailAddress.class }}">{{ __('Your mail address') }}</a>
                </th>
                <th id="hText" scope="col" class="text-left">
                    <a href="{{ sort.text.url }}" title="{{ __f('Sort by %s', {'%s': 'text'}) }}" class="{{ sort.text.class }}">{{ __('Text') }}</a>
                </th>
                <th id="hSendMails" scope="col" class="text-center">
                    <a href="{{ sort.sendMails.url }}" title="{{ __f('Sort by %s', {'%s': 'send mails'}) }}" class="{{ sort.sendMails.class }}">{{ __('Send mails') }}</a>
                </th>
                <th id="hComment" scope="col" class="text-left">
                    <a href="{{ sort.comment.url }}" title="{{ __f('Sort by %s', {'%s': 'comment'}) }}" class="{{ sort.comment.class }}">{{ __('Comment') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for comment in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ comment.getKey() }}" class="mucomments-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ comment.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUCommentsModule:ItemActionsMenu:menu', [], {entity: comment, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ comment.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ comment.workflowState|mucommentsmodule_objectState }}
                </td>
                {% endif %}<td headers="hSubject" class="text-left">
                    {{ comment.subject }}
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'display', {'id': comment.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ comment.name|notifyFilters('mucommentsmodule.filterhook.comments')|safeHtml }}</a>
                </td>
                <td headers="hYourMailAddress" class="text-center">
                    {% if comment.yourMailAddress is not empty %}
                    <a href="mailto:{{ comment.yourMailAddress|protectMail }}" title="{{ __('Send an email') }}"><i class="fa fa-envelope"></i></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hText" class="text-left">
                    {{ comment.text|striptags|truncate(50) }}
                </td>
                <td headers="hSendMails" class="text-center">
                    {% if comment.sendMails %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hComment" class="text-left">
                    {% if comment.comment|default %}
                        <a href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'display', {'id': comment.comment.getId()}) }}">{% spaceless %}
                          {{ comment.comment|mucommentsmodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="commentItem{{ comment.getKey() }}_rel_{{ comment.comment.getKey() }}Display" href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'display', {'id': comment.comment.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="mucomments-inline-window hidden" data-modal-title="{{ comment.comment|mucommentsmodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}9{% else %}8{% endif %}">
            {{ __('No comments found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'mucommentsmodule_comment_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUCommentsModuleAction" class="col-sm-3 control-label">{{ __('With selected comments') }}</label>
                <div class="col-sm-6">
                    <select id="mUCommentsModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="approve" title="{{ __('Update content and approve for immediate publishing.') }}">{{ __('Approve') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUCommentsModule:Comment:', '::', 'ACCESS_COMMENT') %}
                {% set createTitle = __('Create comment') %}
                <a href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('mucommentsmodule_comment_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='mucommentsmodule.ui_hooks.comments.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
